# Ignor Visual Studio Code/Pycharm settings
.vscode/
.idea/

# Ignore python cache
__pycache__

# Ignore release stuff
venv/
release.sh
dev.sh
dev.sql

# Ignore build files
build/
dist/
*.egg-info/

.coverage
