astroid==2.5
attrs==21.4.0
Brotli==1.0.9
Click==7.0
iniconfig==1.1.1
isort==4.3.21
lazy-object-proxy==1.7.1
mccabe==0.6.1
packaging==21.3
pika==1.1.0
pluggy==1.0.0
psycopg2==2.8.6
py==1.11.0
pylint==2.5.3
pyparsing==3.0.7
pytest==7.0.1
pytest-cov==4.1.0
toml==0.10.2
tomli==2.0.1
wrapt==1.12.1
